<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form>
      <input type="email" placeholder="email"><br><br>
      <input type="password" placeholder="password"><br><br>
      <input type="submit" name="Login">
    </form>
    <h1>Sign Up</h1>
    <form>
      <label>Email
      <input type="email"></label><br><br>
      <label>Password
      <input type="password"></label><br><br>
      <label>Age
      <input type="number"></label><br><br>
      <label>Description
      <textarea></textarea></label><br><br>
      <input type="submit">
    </form><br><br>
    <button class="fb">Login with Facebook</button>
    <a href='/google'>Login with Google</a>
  </body>
</html>
